# **Задание 1.4.1**
Какие меры оценивают центральные (или типичные) наблюдения? Выберите все верные варианты.
* Среднее арифметическое
* Медиана
* Мода

# **Задание 1.4.2**
Какая мера необходима для нахождения самого часто встречающегося значения?
* Мода

# Для каких из перечисленных случаев медиана подходит как мера центральной тенденции?
* Необходимо разделить числовой ряд пополам

# Среднее арифметическое пяти чисел равно 8.2 . Четыре из этих чисел — 6,10,7,12. Найдите пятое число.

In [24]:
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)
mean([6,10,7,12,6])

8.2

# **Задание 1.4.3**
Итак, среднее — это сумма значений, поделённая на их количество. Допустим, в классе из 7 человек ученики получили следующие оценки:

# Дополните утверждения:

Мода на ___________ средней оценки.
* 1 балл больше

# Этот набор данных является _________.
* генеральной совокупностью

# 1.5. Тренировка

In [25]:
import pandas as pd

df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [26]:
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [27]:
df['men'].mean()

70.84

In [28]:
df.mean()

men      70.84
women    58.37
dtype: float64

# Задание 1.5.2
Медиана в первом наборе данных равна _4.5_
Это на _3.5_ меньше медианы во втором наборе данных.

In [29]:
# Задание 1.5.3
df.median()

men      75.6
women    57.6
dtype: float64

In [30]:
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]})
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7